@charset "UTF-8";
/* CSS Document */

div.img {
    border: 0px solid #ccc;
}

div.img:hover {
    border: 0px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    display:flex;
/*    float: left; */
    width: 33.33333%;
/*	width: 24.99999%; */
}


@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}


.responsive2 {
    padding: 0 70px;
    float: left;
    width: 33.33333%;
/*	width: 24.99999%; */
}


@media only screen and (max-width: 700px){
    .responsive2 {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive2 {
        display: none;
    }
}

.responsive3 {
    padding: 0 6px;
    float: left;
    width: 33.33333%;
/*	width: 24.99999%; */
}


@media only screen and (max-width: 700px){
    .responsive3 {
        display: none;
    }
}

@media only screen and (max-width: 500px){
    .responsive3 {
        display: none;
    }
}


.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* zoom efekt */

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.item {
  position: relative;
  
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  width: 540px;
}
.item img {
  max-width: 100%;
  
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
